<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birthday Card</title>
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/index.js"></script>
</head>

<body>
    <% if (locals.content) { %>
        <div class="content-flex">
            <div class="page" id="page2">
                <div class="message">
                    <%= locals.content %>
                </div>
                <div class="footer">
                    <p>Best wishes from Shivansh</p>
                </div>
            </div>
            <form action="/message" method="post" id="form" class="footer page">
                <button type="submit" name="clear" value="clear" class="button newb" formaction="clear">Clear Message</button>
                <button type="submit" name="new" value="new" class="button newb">Generate New Message</button>
            </form>
        </div>

    <% } else { %>
        <div class="notebook" id="notebook">
            <div class="page card" id="page1" >
                <div class="header">
                    <h2>Happy Birthday!</h2>
                </div>
                <div class="content">
                    <p>Wishing you a day filled with joy, laughter, and sweet memories.</p>
                    <img src="https://images.unsplash.com/photo-1606983340126-99ab4feaa64a?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8fA%3D%3D"
                        alt="Birthday Celebration" />
                </div>
                <div class="footer">
                    <p>Best wishes from Shivansh</p>
                </div>
            </div>

            <form action="/message" method="post" id="form" class="footer page">
                <button onclick="turnPage()" class="button">See Your Special Message</button>
            </form>
                
            <h1>Page 2</h1>
            <p>This is the content of page 2.</p> -->
        </div>
    <% } %>

</body>
</html>
